.titleName{
        font-size: 30px;
        letter-spacing: 2px;
        margin: 0;
        background-color: rgb(165, 165, 165);
        padding: 20px 40px;
}
.navLink{
    display: inline-block;
    font-size: 20px;
    padding: 30px 90px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.navLink:hover{
    text-decoration: underline;
}