.container{
    justify-content: center;
    align-items: center;
    height: 70vh;
    .containerDataGrid{
        width: 90%;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}